/* style.css */

#menu-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu-item {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.menu-item h2 {
  font-size: 18px;
  margin-top: 0;
}

.menu-item p {
  margin-bottom: 10px;
}

.menu-item img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
}

.add-to-cart {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #3e8e41;
}

.order-now {
  background-color: #FFC107;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.order-now:hover {
  background-color: #FFA07A;
}